body {
  font-family: sans-serif;
  margin: 0; /* Add margin to separate content from browser edges */
}

header {
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0; /* Add a light background color */
}

main {
  width: 400px;
  margin: 50px auto; /* Center the form vertically */
  padding: 20px;
  border: 1px solid #ccc; /* Add a border for the main section */
  border-radius: 5px; /* Add rounded corners */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  display: inline-block;
  width: 100px;
}

input, button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  cursor: pointer;
}

#login-form button {
  background-color: #4CAF50; /* Green button for login */
  color: white;
}

#register-button {
  background-color: transparent; 
  color:blue;
  margin-top: 40px; /* Add margin after the form */
}
